section.about-company-section 
    .container 
        .left-block
            h2.section-title О компании
            .descr 
                p Форвард- НН — это холдинг полного цикла для решения сложных и комплексных задач в области строительства. Обладая широким перечнем услуг (изыскания и инжиниринг, проектирование и строительство), мы помогаем нашим Клиентам решать задачи любой сложности.
                p История нашей компании началась 4 апреля 1962 года, когда приказом №17 Академии строительства и архитектуры СССР было создано Бюро внедрения новых железобетонных конструкций и бетонов (Бюро ВЖБ при НИИ бетона и железобетона).
                p Основной задачей Бюро на тот момент было оказание научно-технической помощи предприятиям строительной индустрии по внедрению результатов научно-исследовательских и опытно-конструкторских работ в области бетона и железобетона. В те годы силами бюро активно внедрялись стеновые конструкции жилых зданий с использованием местных заполнителей, а также отходов строительного производства. В стенах бюро придумали технологию защиты 
            .btn Подробнее
        .right-block 
            h2.section-title Почему мы
            .blocks 
                .block 
                    img(src="assets/images/icons/project-management-icon.png", alt="")
                    p Передовые технологии
                .block 
                    img(src="assets/images/icons/back-in-time-icon.png", alt="")
                    p Сдача точно<br> в срок
                .block 
                    img(src="assets/images/icons/best-icon.png", alt="")
                    p Опытные специалисты
                .block 
                    img(src="assets/images/icons/lightbulb-icon.png", alt="")
                    p Оптимальные решения
