section.ask-question 
    .container 
        form(action="" id="form-callback")
            h3 Появились вопросы?
            p Мы готовы ответить на них в ближайшее время
            .phone
                p.input-title Ваш телефон
                input(type="tel") 
            .btn Отправить
            p.policy Нажимая на кнопку, вы соглашаетесь с политикой конфиденциальности