section.clients
    .container 
        h2.section-title Среди наших клиентов
        .owl-carousel.clients-carousel
            .carousel-item
                img(src="assets/images/clients/МЕГА.png", alt="")
            .carousel-item
                img(src="assets/images/clients/Emblem_of_the_Ministry_of_Internal_Affairs.png", alt="")
            .carousel-item
                img(src="assets/images/clients/ПАРК.png", alt="")
            .carousel-item
                img(src="assets/images/clients/Пятёрочка.png", alt="")
            .carousel-item
                img(src="assets/images/clients/METRO.png", alt="")