section.contacts 
    .container 
        h2 Контакты
        .blocks 
            .left-block 
                .phones-time
                    .phones 
                        a(href="tel:88314663835") 8 (831) 366-38-35
                        a(href="tel:88312304666") 8 (831) 230-46-66
                    p Каждый день с 8:00 до 22:00
                    .btn(modal="modal-callback") Обратный звонок
                .map 
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad8d76f4b9461a41485e9dcdd7798e1278784644f7243550e7704d84acaf03204&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>            
            .right-block 
                h3 ООО "Форвард"
                p Эл. почта: 
                    a(href="mailto:info@forward-01.ru") info@forward-01.ru
                p Адрес: Нижний Новгород, ул. Кащенко, 9в
                .carousel
                    .btn-prev.btn-contacts-carousel
                    .owl-carousel.contacts-carousel
                        .carousel-item
                            img(src="assets/images/contacts-carousel-item.jpg", alt="")
                        .carousel-item
                            img(src="assets/images/contacts-carousel-item.jpg", alt="")
                        .carousel-item
                            img(src="assets/images/contacts-carousel-item.jpg", alt="")
                    .btn-next.btn-contacts-carousel

                