footer 
    include header.pug
    .container.footer
        .nav
            a(href="") Главная
            a(href="") О компании
            a(href="") Услуги
            a(href="") Объекты
            a(href="") Продажа оборудования
            a(href="") Контакты
        .separator 
        .works
            a(href="") Разработка проектной и рабочей документации
            a(href="") Монтажные работы
            a(href="") Сервисное обслуживание и эксплуатация объектов
            a(href="") Прохождение экспертиз и согласований в надзорных органах
        .separator 
        .info
            div
                a(href="") Политика конфиденциальности
                p Разработка сайта - 
                    a(href="https://salut-promo.ru/") Salut Promo 