header 
    .container
        a(href="")
            img(src="assets/images/logo.png", alt="") 
        p.location Нижний новгород, ул. Кащенко, 9в
        a.mail(href="mailto:info@forward-01.ru") info@forward-01.ru
        .btn.btn-callback Обратный звонок
        .phones 
            a(href="tel:88314663835") 8 (831) 366-38-35
            a(href="tel:88312304666") 8 (831) 230-46-66