section.kp 
    .container 
        .block 
            img(src="assets/images/icons/clock-icon.png", alt="")
            h2 Разработаем за 3 дня
        .block.active
            img(src="assets/images/icons/document-icon.png", alt="")
            h2 Пройдем ГОСЭКСПЕРТИЗУ Снимем замечания
        .block 
            img(src="assets/images/icons/friend-icon.png", alt="")
            h2 Бесплатно проконсультируем
        .block 
            img(src="assets/images/icons/map-icon-blue.png", alt="")
            h2 Работаем по всей России с любыми экспертизами