section.kp 
    .container 
        .block
            .img.time
            h2 Разработаем за 3 дня
        .block
            .img.gos
            h2 Пройдем ГОСЭКСПЕРТИЗУ Снимем замечания
        .block 
            .img.consultation
            h2 Бесплатно проконсультируем
        .block 
            .img.location
            h2 Работаем по всей России с любыми экспертизами