section.licenses 
    .container 
        h2.section-title Лицензии
            p На осуществление деятельности по монтажу, техническому обслуживанию и ремонту средств обеспечения пожарной безопасности зданий и сооружений
        .owl-carousel.licenses-carousel
            .carousel-item
                a(href="assets/images/licenses/license-1.jpg") 
                    img(src="assets/images/licenses/license-1.jpg", alt="")
            .carousel-item
                a(href="assets/images/licenses/license-2.jpg")
                    img(src="assets/images/licenses/license-2.jpg", alt="")
            .carousel-item
                a(href="assets/images/licenses/CPO-1.jpg")
                    img(src="assets/images/licenses/CPO-1.jpg", alt="")
            .carousel-item
                a(href="assets/images/licenses/Doorhan.jpg")
                    img(src="assets/images/licenses/Doorhan.jpg", alt="")