section.main-top-block
    .container
        .btn-prev.btn-main-carousel
        .owl-carousel.main-carousel
            .carousel-item
                h1 Разработка проектной<br> и рабочей документации
                p Ни одно строительство, осуществляемое в соответствии с законодательством, не проводится, если не была организована разработка проектной документации объектов, позволяющей грамотно организовать безопасное выполнения строительных работ. 
                .btn.btn-callback Обратная связь
            .carousel-item
                h1 Разработка проектной<br> и рабочей документации
                p Ни одно строительство, осуществляемое в соответствии с законодательством, не проводится, если не была организована разработка проектной документации объектов, позволяющей грамотно организовать безопасное выполнения строительных работ. 
                .btn.btn-callback Обратная связь
            .carousel-item
                h1 Разработка проектной<br> и рабочей документации
                p Ни одно строительство, осуществляемое в соответствии с законодательством, не проводится, если не была организована разработка проектной документации объектов, позволяющей грамотно организовать безопасное выполнения строительных работ. 
                .btn.btn-callback Обратная связь
            .carousel-item
                h1 Разработка проектной<br> и рабочей документации
                p Ни одно строительство, осуществляемое в соответствии с законодательством, не проводится, если не была организована разработка проектной документации объектов, позволяющей грамотно организовать безопасное выполнения строительных работ. 
                .btn.btn-callback Обратная связь
        .btn-next.btn-main-carousel