section.navbar 
    .container 
        .btn-close-menu
        ul 
            li.active 
                a(href="index.html") Главная
            li.separator
            li
                a(href="") О компании
            li.separator
            li 
                a(href="services.html") Услуги
            li.separator
            li 
                a(href="") Объекты
            li.separator
            li 
                a(href="") Продажа оборудования
            li.separator
            li 
                a(href="contacts.html") Контакты