section.our-services 
    .container 
        h2.section-title Наши услуги
        .blocks 
            a(href="").documentations.block
                h3 Разработка проектной и рабочей документации
                .btn Обратная связь
            .small-blocks
                a(href="").installation-works.small-block
                    h3 Монтажные работы
                    .btn Обратная связь
                a(href="").after-sales-service.small-block
                    h3 Сервисное обслуживание и эксплуатация объектов
                    .btn Обратная связь
            a(href="").passing-examinations.block
                h3 Прохождение экспертиз и согласований в надзорных органах
                .btn Обратная связь