section.our-projects 
    .container 
        h2.section-title Наши проекты
        .btn__switch__wrapper
            button.btn__tab__switch(target="1").active Все проекты
            button.btn__tab__switch(target="2") РВС
            button.btn__tab__switch(target="3") Металлоконструкции
            button.btn__tab__switch(target="4") Тех. оборудование
            button.btn__tab__switch(target="5") Трубопроводы
        .tab__viewer
            .tab.active(tab-name="1")
                .project
                    img(src="assets/images/our-projects-1.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-2.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-3.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-4.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-1.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-2.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-3.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-4.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
            .tab(tab-name="2")
                .project
                    img(src="assets/images/our-projects-1.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-2.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-3.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-4.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
            .tab(tab-name="3")
                .project
                    img(src="assets/images/our-projects-1.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-2.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-3.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-4.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
            .tab(tab-name="4")
                .project
                    img(src="assets/images/our-projects-1.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-2.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-3.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-4.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
            .tab(tab-name="5")
                .project
                    img(src="assets/images/our-projects-1.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-2.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-3.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
                .project
                    img(src="assets/images/our-projects-4.jpg", alt="")
                    .hover 
                        p ООО &#171;Новороссийский мазутный терминал&#187;
                        .btn Подробнее
        .btn Все проекты