section.our-services 
    .container 
        h2.section-title Наши услуги
        .blocks 
            .documentations.block
                h3 Разработка проектной и рабочей документации
                .hover
                .btn Обратная связь
            .small-blocks
                .installation-works.small-block
                    h3 Монтажные работы
                    .hover
                    .btn Обратная связь
                .after-sales-service.small-block
                    h3 Сервисное обслуживание и эксплуатация объектов
                    .hover
                    .btn Обратная связь
            .passing-examinations.block
                h3 Прохождение экспертиз и согласований в надзорных органах
                .hover
                .btn Обратная связь