section.scheme-of-works
    .container 
        h2.section-title Прозрачная схема работы
        .block.task 
            h3 Уточняем вашу задачу
            p Форвард-НН - это холдинг полного цикла для решения сложных и комплексных задач в области строительства.
        .block.designing 
            h3 Проектирование
            p Форвард-НН - это холдинг полного цикла для решения сложных и комплексных задач в области строительства.
        .block.production 
            h3 Изготовление
            p Форвард-НН - это холдинг полного цикла для решения сложных и комплексных задач в области строительства.
        .block.montage
            h3 Монтаж
            p Форвард-НН - это холдинг полного цикла для решения сложных и комплексных задач в области строительства.
        .block.launch
            h3 Запуск
            p Форвард-НН - это холдинг полного цикла для решения сложных и комплексных задач в области строительства.