section.services 
    .container 
        h2 Услуги
        .blocks 
            a(href="service.html").fire-safety.block 
                img(src="assets/images/services/fire-safety.jpg", alt="")
                .descr
                    h3 Расчеты в области<br> пожарной безопасности
                    .btn Подробнее
            a(href="service.html").fire-protection-systems.block 
                img(src="assets/images/services/fire-protection-systems.jpg", alt="")
                .descr
                    h3 Проектирование в области<br> противопожарных систем
                    .btn Подробнее
            a(href="service.html").engineering-systems.block 
                img(src="assets/images/services/engineering-systems.jpg", alt="")
                .descr
                    h3 Проектирование в области<br> инженерных систем
                    .btn Подробнее
            a(href="service.html").pnr.block 
                img(src="assets/images/services/pnr.jpg", alt="")
                .descr
                    h3 Монтажные<br> и пуско-наладочные работы
                    .btn Подробнее
            a(href="service.html").to.block 
                img(src="assets/images/services/to.jpg", alt="")
                .descr
                    h3 Техническое обслуживание<br> противопожарных <br>и инженерных систем
                    .btn Подробнее
