section.service 
    .container 
        h2 Расчеты в области пожарной безопасности
        .top-block 
            .menu 
                a(href="service.html").active Расчеты в области пожарной безопасности
                a(href="service.html") Проектирование в области противопожарных систем
                a(href="service.html") Проектирование в области инженерных систем
                a(href="service.html") Монтажные и пуско-наладочные работы
                a(href="service.html") Техническое обслуживание противопожарных и инженерных систем
            img(src="assets/images/services/fire-safety-internal.jpg", alt="")
        .descr 
            h3 Противопожарная безопасность
            p ООО "Форвард" предлагает комплексное решение проблем противопожарной безопасности. Наша компания осуществляет продажу пожарного оборудования. Мы специализируемся на такой услуге как огнезащита: обработка помещений (деревянных и металлических конструкций), инженерных систем, установка пожарных сигнализаций, люков, дверей, вентиляций и т.д.
            h3 Преимущества обращения в нашу компанию
            p Наличие склада готовой продукции (все изделия в наличии);<br>Низкие цены;<br>Бесплатная диагностика помещения;<br>Гарантии качества;<br>Высококвалифицированный персонал. Специалисты в нашей компании имеют опыт работы на рынке данных систем более 15 лет;<br>Монтаж противопожарных изделий (дверей) со склада готовой продукции в течении одного рабочего дня с момента оплаты;<br>Мы используем только самое современное оборудование
        .btns 
            .btn Обратиться к нам
            .btn.btn-without-bg Выполненные проекты